@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary-200: #ffcf00;
  --color-primary-100: #ffc929;
  --color-secondary-200: #00b050;
  --color-secondary-100: #0b1a78;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-style: normal;
  @apply bg-slate-100;
}
label {
  align-self: flex-start;
}

.form {
  @apply grid gap-4 mt-6;
}
.form-wrap {
  @apply grid gap-1 relative;
}
.form-input {
  @apply bg-blue-50 p-2 shadow-md rounded outline-none focus:border-2 focus:border-primary-200 focus:bg-white;
}
.input-otp {
  @apply bg-blue-50 w-full h-12 max-w-16 shadow rounded outline-none font-semibold size-8
  focus:border-2 focus:border-primary-200 focus:bg-white text-center;
}
